<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">I'll teach you Javascript</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25
                            <small class="text-muted">/ hr</small>
                        </h1> ​
                        <div class="text-center">
                            <img style="width:100px;height:100px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwBAAAAJGNiOWMyM2UwLTNjZjktNDg2YS04NDcyLTYyY2NhMThhODMzMQ.jpg"
                                class="rounded" alt="...">
                        </div>
                        <divclass="row-sm-6">
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                    </div>

                </div>

            </div>

        </div>
         <div class="col-lg-6">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">I'll teach you Javascript</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$25
                        <small class="text-muted">/ hr</small>
                    </h1> ​
                    <div class="text-center">
                        <img style="width:100px;height:100px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwBAAAAJGNiOWMyM2UwLTNjZjktNDg2YS04NDcyLTYyY2NhMThhODMzMQ.jpg"
                            class="rounded" alt="...">
                    </div>
                    <divclass="row-sm-6">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>

            </div>

        </div>

    </div>
    </div>
   


</div>